#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.main-map{
  width: 100%;
  height: 100vh;
}

.mui-place-icon {
  animation: dropIn 0.25s ease;
}

@keyframes dropIn {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}